<!doctype html>
<html lang="en">

<head>
	<title> Danh Sách Cuộc Gọi </title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
		<style>

			.container {
				box-sizing: border-box;
				display: flex;
				flex-direction: column;
				justify-content: center;  /* Justify Content giúp bạn căn chỉnh các items trên main axis */
				align-items: center;  	/* Align Items giúp bạn sắp xếp các items dựa trên cross axis */
			}
			h4 {
				margin-top: 30px;
				margin-bottom: 40px;
			}

			table {
				height: 100%;
				width: fit-content;
				max-width: 700px;
			}
		</style>
</head>

<body>
	<div class="container">
		<h4> Danh Sách Các Cuộc Gọi Taxi Theo Ngày Xác Định</h4>
		
		<table class="table table-striped">
			<thead class="thead-inverse">
				<tr>
					<th scope="col"> # </th>
					<th scope="col"> Ngày </th>
					<th scope="col"> Nơi Đi </th>
					<th scope="col"> Nơi Đến </th>
				</tr>
				</thead>

				<tbody>
					{% for du_lieu in DS_Cuoc_Goi %}
					<!--số thứ tự sẽ chạy lần lượt theo PhieuBan được gọi và + 1 kể từ index 0-->
					<tr>
						<td scope="row">{{ DS_Cuoc_Goi.index(du_lieu) +1 }}</td>
						<td> {{ du_lieu['Thoi_gian']}} </td>
						<td> {{ du_lieu['Noi_di']}} </td>
						<td> {{ du_lieu['Thoi_gian']}} </td>
					</tr>
					{% endfor %}

				</tbody>
		</table>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>

</html>