<!doctype html>
<html lang="en">
  <head>
	<title> Line Chart </title>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
	  <div class="container">
		  <div class="row">
			  <div class="col-md-12">
				<canvas id="line-chart"></canvas>
				<!-- to display js chart on UI via html -->
			  </div>
		  </div>
	  </div>



	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script> <!-- Input this script for chart library-->
	<script>
		new Chart(document.getElementById("line-chart"), {
				type: 'line',
				data: {
					labels: [1500, 1600, 1700, 1750, 1800, 1850, 1900, 1950, 1999, 2050],
					datasets: [{
						data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478],
						label: "Africa",
						borderColor: "#3e95cd",
						fill: false
					}, {
						data: [282, 350, 411, 502, 635, 809, 947, 1402, 3700, 5267],
						label: "Asia",
						borderColor: "#8e5ea2",
						fill: false
					}, {
						data: [168, 170, 178, 190, 203, 276, 408, 547, 675, 734],
						label: "Europe",
						borderColor: "#3cba9f",
						fill: false
					}, {
						data: [40, 20, 10, 16, 24, 38, 74, 167, 508, 784],
						label: "Latin America",
						borderColor: "#e8c3b9",
						fill: false
					}, {
						data: [6, 3, 2, 2, 7, 26, 82, 172, 312, 433],
						label: "North America",
						borderColor: "#c45850",
						fill: false
					}
					]
				},
				options: {
					title: {
						display: true,
						text: 'World population per region (in millions)'
					}
				}
			});
	</script>
  </body>
</html>