<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <style>
    h2 {
      color: cornflowerblue;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      text-decoration: none;
      color: darkorange;
    }
  </style>

</head>

<body>
  <div class="container">
    <h2 style="margin-top: 40px;"> Danh Sách Bài Tập </h2>

    <div class="list_container">

      <ul class="list-group">
        <li class="list-group-item">
          <a href="/in-loi-chao">Bài 1: 1.2 In Lời Chào</a>
        </li>

        <li class="list-group-item">
          <a href="/tinh-toan-don-gian"> Bài 1: 1.3 Tính Toán Đơn Giản </a>
        </li>

        <li class="list-group-item">
          <a href="/xuat-thong-tin-1"> Bài 2: 2.1.a Xuất Thông Tin Công Ty (Cách 1) </a>
        </li>

        <li class="list-group-item">
          <a href="/xuat-thong-tin-2">Bài 2: 2.1.b Xuất Thông Tin Công Ty (Cách 2) </a>
        </li>

        <li class="list-group-item">
          <a href="/nhap-ho-ten-1"> Bài 2: 2.2.a Ghi Nhập Họ Tên </a>
        </li>

        <li class="list-group-item">
          <a href="/nhap-ho-ten-2"> Bài 2: 2.2.b Cập Nhật Họ Tên </a>
        </li>

        <li class="list-group-item">
          <a href="/dang-nhap"> Bài 2: 2.3 Đăng Nhập </a>
        </li>

        <li class="list-group-item">
          <a href="/so-lan-dang-nhap"> Bài 3: 3.1 Đăng Nhập Và Thông Báo Số Lần Đăng Nhập </a>
        </li>

        <li class="list-group-item">
          <a href="/ngay-dang-nhap"> Bài 4: 4.1 Thông Báo Số Lần Đăng Nhập Và Ngày Đăng Nhập Gần Nhất</a>
        </li>
        
        <li class="list-group-item">
          <a href="/nhap-don-gia-tivi"> Bài 3: 3.3 Cập Nhật Giá Bán TIVI</a>
        </li>
        
        <li class="list-group-item">
          <a href="/tinh-diem-xet-tuyen"> Bài 4: 4.1 Tra cứu Thông tin và Tính điểm xét tuyển</a>
        </li>

        <li class="list-group-item">
          <a href="/tat-toan-so-tiet-kiem"> Bài 4: 4.2 Tất Toán Sổ Tiết Kiệm </a>
        </li>

        <li class="list-group-item">
          <a href="/cap-quyen-dang-nhap"> Bài 5: 5.1 Kích Hoạt Quyền Đăng Nhập </a>
        </li>

        <li class="list-group-item">
          <a href="/dang-nhap-voi-quyen-dang-nhap"> Bài 5: 5.2 Đăng Nhập Sau Khi Kích Hoạt Quyền Đăng Nhập </a>
        </li>

      </ul>
    </div>

  </div>





  <!-- Optional JavaScript
    jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>

<!--không thể đặt cặp jinja trong cmt HTML vì jjinja sẽ không thể nhận biết được và cố phân tích biến python của cmt đó, ko có dẽ throw error -->